@using PagedList
@using PagedList.Mvc
@model EmaPosAdminProject.ViewModel.ProductImages
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #ee1c23;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ee1c23;
            }
</style>

<!-- Header Start -->
<div class="container-fluid page-header" style="height: 250px;">
    <div class="container" style="height: 250px;">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 250px;">
            <h3 class="display-4 text-white text-uppercase">@Model.Category.name</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="/Home/Index">Ana Sayfa</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">ÜRÜNLER</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="row pb-3">
                    @foreach (var x in Model.Products)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-6 pb-2">
                            <div class="team-item bg-white mb-4">
                                <a href="/Home/ProductDetail/@x.id">
                                    <div class="team-img position-relative overflow-hidden">
                                        <img class="img-fluid w-100" src="~/Images/Category/@Model.ProductImageList.Find(img=>x.id==img.productId).image" style="height:180px;" alt="">
                                        <div class="team-social">
                                        </div>
                                    </div>
                                </a>
                                <div class="text-center py-4">
                                    <h5 class="text-truncate">@x.title</h5>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-lg justify-content-center bg-white mb-0" style="padding: 30px;">
                                <li class="page-item">
                                    <div id="container" style="margin-left: 20px">
                                        <p></p>
                                        <p></p>
                                        <div class="pagination">
                                            @Html.PagedListPager((IPagedList)Model.Products, page => Url.Action("Products", new { page }))
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
                <!-- Author Bio -->
                <!-- Search Form -->
                @*<div class="mb-5">
                        <div class="bg-white" style="padding: 30px;">
                            <div class="input-group">
                                <input type="text" class="form-control p-4" placeholder="Ara">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-primary border-primary text-white">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <!-- Category List -->
                <div class="mb-5">
                    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">KATEGORİLER</h4>
                    <div class="bg-white" style="padding: 30px;">
                        <ul class="list-inline m-0">
                            @foreach (var x in Model.CategoryList)
                            {
                                <li class="mb-3 d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="/Home/Products/@x.id">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>@x.name
                                    </a>
                                    @*<span class="badge badge-primary badge-pill">@x.product.Count()</span>*@
                                </li>
                            }
                        </ul>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
<!-- Product End -->
