@using EmaPosAdminProject.Customs
@model EmaPosAdminProject.ViewModel.NewsImages
@{
    ViewBag.Title = "GorsellerListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <!-- Custom styles for this page -->
    <link href="~/web_admin/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

</head>

<!-- Begin Page Content -->
<div class="container-fluid">



    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            @foreach (var x in Model.NewsList)
            {
                <h6 class="m-0 font-weight-bold text-primary">@x.title Haberinin Görselleri</h6>
                <br />
            }
            @Html.ActionLink("< Haberler", "HaberlerListesi", "Haberler", new { }, new { @class = "btn btn-primary py-1" })

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Görsel</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Görsel</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var x in Model.NewsImageList)
                        {
                            <tr>
                                <td><img width="75" src="~/Images/News/@x.image" /></td>
                                <td>@Html.ActionLink("Sil", "GorselSil", "Haberler", new { x.id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinizden emin misiniz?');" }) </td>
                                <td>@Html.ActionLink("Düzenle", "GorselGetir", "Haberler", new { x.id }, new { @class = "btn btn-warning" })</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Habere Görsel Ekleme</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @using (Html.BeginForm("YeniGorsel", "Haberler", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.TextBoxFor(x => Model.Id, new { @class = "form-control", required = "true", name = "newsId", type = "hidden" })
                    @*<input type="text" name="newsId" value="@Model.Id" />*@
                    <br />
                    <p class="text-dark">Görsel</p>
                    @Html.TextBoxFor(x => x.NewsImage.image, new { @class = "form-control", type = "file", accept = ".jpg,.png,.gif,.JPEG,.jpeg", name = "image", required = "true", onchange = "PreviewImage();", id = "uploadImage" })
                    <br />

                    <img id="uploadPreview" style="width: 200px; height: 200px;" />
                    <script type="text/javascript">

                        function PreviewImage() {
                            var oFReader = new FileReader();
                            oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

                            oFReader.onload = function (oFREvent) {
                                document.getElementById("uploadPreview").src = oFREvent.target.result;
                            };
                        };

                    </script>
                    <br />
                    <br />
                    @Html.Submit("Ekle", new { @class = "btn btn-primary" })

                }

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
